@import "tailwindcss";

body {
  margin: 0;
  background-color: #1a1a1a;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f54900;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #ca3500;
  border: 0px solid transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #f54900 transparent;
}

::selection {
  background-color: #f97316;
  color: #ffffff;
}

::-moz-selection {
  background-color: #f97316;
  color: #ffffff;
}
